<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<configuration>
	<policy>St-Low-Th-High</policy>
	<statsId>dock-low-high<statsId>
	<readonly>true</readonly>
	<scanner>
		<level>HIGH</level>
		<strength>LOW</strength>
	</scanner>
</configuration>
