<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<configuration>
	<policy>St-Med-Th-Low</policy>
	<scanner>
		<level>LOW</level>
		<strength>MEDIUM</strength>
	</scanner>
</configuration>
