#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
TryExec=/usr/bin/zap
Exec=/usr/bin/zap
Name=OWASP ZAP
Icon=/usr/share/icons/zapicon.png