{
  "/" : {
    "path" : "/",
    "security" : {
      "module" : "EMBEDED",
      "config" : {
        "users" : []
      },
      "classPath" : [ ]
    },
    "langFolder" : "${webswing.configDir}/lang",
    "homeDir" : "${user.dir}",
    "allowedCorsOrigins" : [ "*" ],
    "adminConsoleUrl" : "http://localhost:8090"
  },
  "/zap" : {
    "path" : "/zap",
    "webFolder" : "",
    "icon" : "icon.png",
    "security" : {
      "module" : "NONE",
      "classPath" : [ ],
      "authorizationConfig" : {
        "users" : [ ],
        "roles" : [ ]
      }
    },
    "swingConfig" : {
      "allowUpload" : true,
      "allowDownload" : true,
      "isolatedFs" : false,
      "theme" : "Murrine",
      "directdraw" : false,
      "javaFx" : true,
      "debug" : false,
      "userDir" : "",
      "jreExecutable" : "${java.home}/bin/java",
      "javaVersion" : "${java.version}",
      "launcherType" : "Desktop",
      "launcherConfig" : {
        "args" : "ZAP_OPTS",
        "mainClass" : "org.zaproxy.zap.ZAP"
      },
      "swingSessionTimeout" : -1,
      "allowDelete" : true,
      "allowAutoDownload" : true,
      "allowJsLink" : true,
      "fontConfig" : { },
      "classPathEntries" : [ "zap-*.jar" ],
      "transferDir" : "${user}/upload",
      "transparentFileSave" : true,
      "clearTransferDir" : true,
      "transparentFileOpen" : true,
      "timeoutIfInactive" : false,
      "allowLocalClipboard" : true,
      "allowServerPrinting" : false,
      "homeDir" : "/zap"
    },
    "enabled" : true,
    "langFolder" : "",
    "maxClients" : 1,
    "monitorEdtEnabled" : false,
    "allowStealSession" : true,
    "goodbyeUrl" : "",
    "name" : "OWASP ZAP",
    "autoLogout" : true,
    "sessionMode" : "CONTINUE_FOR_BROWSER",
    "uploadMaxSize" : 5,
    "webHomeDir" : "/zap"
  }
}