<?xml version="1.0" encoding="UTF-8"?>
<config>
	<version>1004000</version>
	<userDir></userDir>
	<connection>
		<proxyChain>
			<hostName></hostName>
			<port>8080</port>
			<skipName></skipName>
			<realm></realm>
			<userName></userName>
			<password></password>		
			<prompt>false</prompt>
		</proxyChain>
		<auth></auth>
	</connection>
	<proxy>
		<ip>localhost</ip>
		<port>8080</port>
		<reverseProxy>
			<use>0</use>	
			<ip>localhost</ip>
			<httpPort>80</httpPort>
			<httpsPort>443</httpsPort>
		</reverseProxy>		
	</proxy>
	<view>
		<processImages>0</processImages>
		<displayOption>1</displayOption>
		<editorView>2</editorView>
		<brkPanelView>0</brkPanelView>
		<showMainToolbar>1</showMainToolbar>
	</view>
    <start>
        <checkForUpdates>0</checkForUpdates>
    </start>
    
	<certificate>
		<use>0</use>
		<clientCertLocation></clientCertLocation>
		<experimentalSlotListIndex>false</experimentalSlotListIndex>
	</certificate>
	
	<spider>
		<thread>2</thread>
		<maxDepth>5</maxDepth>
		<scope></scope>
		<postform>1</postform>
		<skipurl></skipurl>
	</spider>

	<trap>
		<inclusiveFilter></inclusiveFilter>
		<exclusiveFilter></exclusiveFilter>
	</trap>
	
	<scanner>
		<hostPerScan>2</hostPerScan>
		<threadPerHost>2</threadPerHost>
	</scanner>

	<portscan>
		<threadPerHost>5</threadPerHost>
		<maxPort>10240</maxPort>
	</portscan>
	
	<bruteforce>
		<threadPerHost>10</threadPerHost>
	</bruteforce>
	
	<pscans>
		<names>html_tag_form</names>
		<names>html_tag_password</names>
		<names>html_type_password</names>
		<names>html_type_hidden</names>
		<names>html_type_upload</names>
		<names>html_tag_object</names>
		<names>html_tag_script</names>
		<names>html_mailto</names>
		<names>html_setcookie</names>
		<names>html_comment1</names>
		<names>html_comment2</names>
		<html_tag_form>
			<type>TAG</type>
			<config>Form</config>
			<reqUrlRegex/>
			<reqHeadRegex/>
			<resHeadRegex/>
			<resBodyRegex>&lt;form</resBodyRegex>
			<enabled>true</enabled>
		</html_tag_form>
		<html_tag_password>
			<type>TAG</type>
			<config>Password</config>
			<reqUrlRegex/>
			<reqHeadRegex/>
			<resHeadRegex/>
			<resBodyRegex>&lt;password\s</resBodyRegex>
			<enabled>true</enabled>
		</html_tag_password>
		<html_type_password>
			<type>TAG</type>
			<config>Password</config>
			<reqUrlRegex/>
			<reqHeadRegex/>
			<resHeadRegex/>
			<resBodyRegex>type\s*=\s*['"]?password['"]?</resBodyRegex>
			<enabled>true</enabled>
		</html_type_password>
		<html_type_hidden>
			<type>TAG</type>
			<config>Hidden</config>
			<reqUrlRegex/>
			<reqHeadRegex/>
			<resHeadRegex/>
			<resBodyRegex>type\s*=\s*['"]?hidden['"]?</resBodyRegex>
			<enabled>true</enabled>
		</html_type_hidden>
		<html_type_upload>
			<type>TAG</type>
			<config>Upload</config>
			<reqUrlRegex/>
			<reqHeadRegex/>
			<resHeadRegex/>
			<resBodyRegex>type\s*=\s*['"]?file['"]?</resBodyRegex>
			<enabled>true</enabled>
		</html_type_upload>
		<html_tag_object>
			<type>TAG</type>
			<config>Object</config>
			<reqUrlRegex/>
			<reqHeadRegex/>
			<resHeadRegex/>
			<resBodyRegex>&lt;object\s</resBodyRegex>
			<enabled>true</enabled>
		</html_tag_object>
		<html_tag_script>
			<type>TAG</type>
			<config>Script</config>
			<reqUrlRegex/>
			<reqHeadRegex/>
			<resHeadRegex/>
			<resBodyRegex>&lt;script</resBodyRegex>
			<enabled>true</enabled>
		</html_tag_script>
		<html_mailto>
			<type>TAG</type>
			<config>MailTo</config>
			<reqUrlRegex/>
			<reqHeadRegex/>
			<resHeadRegex/>
			<resBodyRegex>&lt;.*href\s*['"]?mailto:</resBodyRegex>
			<enabled>true</enabled>
		</html_mailto>
		<html_setcookie>
			<type>TAG</type>
			<config>SetCookie</config>
			<reqUrlRegex/>
			<reqHeadRegex/>
			<resHeadRegex>set-cookie</resHeadRegex>
			<resBodyRegex/>
			<enabled>true</enabled>
		</html_setcookie>
		<html_comment1>
			<type>TAG</type>
			<config>Comment</config>
			<reqUrlRegex/>
			<reqHeadRegex/>
			<resHeadRegex/>
			<resBodyRegex>/\*</resBodyRegex>
			<enabled>true</enabled>
		</html_comment1>
		<html_comment2>
			<type>TAG</type>
			<config>Comment</config>
			<reqUrlRegex/>
			<reqHeadRegex/>
			<resHeadRegex/>
			<resBodyRegex>&lt;!--</resBodyRegex>
			<enabled>true</enabled>
		</html_comment2>
	</pscans>
	
	<anticsrf>
		<tokens>anticsrf</tokens>
		<tokens>CSRFToken</tokens>
		<tokens>__RequestVerificationToken</tokens>
	</anticsrf>

</config>
